<ion-view view-title="Log - Run" class="pdc-log">
  <ion-content>
<div class="intro">
    <ion-list>
      <label class="item item-input">
        <span class="input-label">Event</span>
        <input type="text" ng-model="workout.event">
      </label>
      <label class="item item-input pdc-duration-input">
        <div class="row">
          <span class="input-label">Duration</span>
          <div class="col firstCol">
            <input type="number" ng-model="workout.duration.hour">
            <span>hours</span>
          </div> <div class="col">
            <input type="number" ng-model="workout.duration.minute">
            <span>minutes</span>
          </div> <div class="col">
            <input type="number" ng-model="workout.duration.second">
            <span>seconds</span>
          </div>
        </div>
      </label>
      <label class="item item-input">
        <span class="input-label">Distance</span>
        <input type="number" ng-model="workout.distance">
      </label>
      <label class="item range range-positive">
        <span class="input-label">Feelings</span>
        <i class="icon ion-sad-outline"></i>
        <input type="range" name="feelings" min="0" max="100" ng-model="workout.feelings">
        <i class="icon ion-happy-outline"></i>
      </label>
      <label class="item item-input">
        <span class="input-label">Notes</span>
        <input type="text" ng-model="workout.notes">
      </label>
      <label class="item item-input pdc-save-button">
        <button class="button button-balanced" ng-click="pdcSaveWorkout()">
          Save Workout!
        </button>
      </label>
    </ion-list>
      </ion-content>
</ion-view>
