<ion-view view-title="Log - Step Count" class="pdc-log">
  <ion-content>
<div class="intro">
    <ion-list>
      <label class="item item-input">
        <span class="input-label">Event</span>
        <input type="text" ng-model="workout.event" value="Steps">
      </label>
      <label class="item item-input">
        <span class="input-label">Steps</span>
        <input type="number" ng-model="workout.steps">
      </label>
      <label class="item range range-positive">
        <span class="input-label">Feelings</span>
        <i class="icon ion-sad-outline"></i>
        <input type="range" name="feelings" min="0" max="100" ng-model="workout.feelings">
        <i class="icon ion-happy-outline"></i>
      </label>
      <label class="item item-input">
        <span class="input-label">Notes</span>
        <input type="text" ng-model="workout.notes">
      </label>
      <label class="item item-input pdc-save-button">
        <button class="button button-balanced" ng-click="pdcSaveWorkout()">
          Save Steps!
        </button>
      </label>
    </ion-list>
      </ion-content>
</ion-view>
