<ion-view view-title="Teams" class="pdc-teams">
  <ion-content class="padding">
    <div class="list card" ng-repeat="team in teams">
      <div class="item item-body">
        <div>
          <h1>Walkers</h1>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body" ng-repeat="workout in workouts | limitTo: 5">
        <div>
          {{workout.updatedAt | date: 'longDate'}}: <b>{{workout.event}}</b> <b>{{workout.score}}</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>