<ion-view view-title="Dashboard" class="pdc-dash">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body">
        <div class="user-score text-center">
          <span>{{score}}</span>
        </div>
      </div>
    </div>
    <a class="button icon icon-right ion-chevron-right" href="#/tab/races">Join a Race!</a>

    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body" ng-repeat="workout in workouts | limitTo: 7">
        <div>
          {{workout.updatedAt | date: 'longDate'}}: <b>{{workout.event}}</b> <b>{{workout.score}}</b>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
