<ion-view view-title="Teams" class="pdc-teams">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">My Teams</div>
      <div class="item item-body" ng-repeat="team in myTeams">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            {{team.Name}}
          </label>
          <button style="float: right;" class="button button-small icon ion-ios-minus-outline"
            ng-click="leaveTeam(team)"></button>
        </div>
      </div>
    </div>

    <div class="container">
      <a class="button button-light logbutton" href="#/tab/teams/teamJoin">
        Join
      </a>
      <a class="button button-light logbutton" href="#/tab/teams/teamCreate">
        Create
      </a>
    </div>
  </ion-content>
</ion-view>