<ion-view view-title="Workout Type" class="pdc-log">
  <ion-content>
    <div class="container">
      <a class="button button-light logbutton" href="#/tab/log/logSteps">
        Steps
      </a>
      <a class="button button-light logbutton" href="#/tab/log/logRun">
        Run
      </a>
      <a class="button button-light logbutton" href="#/tab/log/logSport">
        Sport
      </a>
      <a class="button button-light logbutton" href="#/tab/log/logWorkout">
        Workout
      </a>
    </div>
  </ion-content>
</ion-view>
